header{
    width:1260px;
    height:253px;
    margin:0 auto;
}
header .top{
    height:80px;
    width:1260px;
    background:#d60a2e;
    text-align: center;
}
/*注册登录*/
header .advert{
    height:28px;
    width:1260px;
    background:#f6f6f6;
    line-height: 28px;
    border-bottom:2px solid #ccc;

}
header .advert .login{
    width:1000px;
    margin:0 auto;
}
header .advert ul{
    width:440px;
    float:right;
}
header .advert ul li{
    
    float:left;
   
    text-align: center;
}
header .advert ul li a{
    font-size: 10px;
    border-right:1px solid;
    padding:0 11px;
}
header .advert ul li :hover{
    color:red;
}
header .advert ul li:nth-child(7) a{
    border:none;
}

.logo{
    height:105px;
    width:1000px;
    margin:0 auto;
}
/*logo*/
.logo .left{
    float:left;
    width:230px;
    height:105px;
    padding-top:20px;
}
/*搜索*/
.logo .center{
    float:left;
    height:105px;
    width:410px;
    padding-top:20px;
    margin-left:100px;
}
.logo .center .text{
    height: 41px;
    width:300px;
    float: left;
    border:2px solid red;
}
.logo .center .search{
    height:41px;
    width:100px;
    background:red;
    border:none;
}
/*购物车*/
.logo .right{
    padding-top:20px;
    width:140px;
    height:105px;
    float:right;
}

.logo .cart{
    border:1px solid #ccc;
    width:130px;
    height:35px;
    line-height: 35px
}
.logo .cart_1{
    margin:10px;
}
/*导航nav*/
.nav{
    height:40px;
    width:1260px;
    background:red;
}
.nav .nav_1{
    height:40px;
    width:1000px;
    margin:0 auto;
}
.nav .nav_1 .nav_left {
    height:40px;
    width:445px;
    float:left;
    line-height: 40px;
}

.nav .nav_1 .nav_left ul li{
    float:left;
    width:70px;
    text-align: center;
    
}
.nav .nav_1 .nav_left ul li:hover{
    background:#bd0e08;
}
.nav .nav_1 .nav_left ul li a,.nav_right{
    font-weight: 900;
    font-size: 16px;
    color:white;
}
.nav .nav_right:hover{
    background:#bd0e08;
}
.nav .nav_right{
    width:150px;
    height:40px;
    float:right;
    text-align: center;
    line-height: 40px;
    background:url(../images/1.jpg) no-repeat 15px 12px;
}
