.top {
  height: 50px;
  width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #dddddd;
  line-height: 50px; }
  .top span {
    float: left; }
  .top ul {
    float: left; }
    .top ul li {
      float: left; }

.xiangqing {
  height: 440px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px; }
  .xiangqing .left {
    width: 400px;
    height: 400px;
    border: 1px solid #dddddd;
    float: left; }
    .xiangqing .left .middle {
      /*	width: 400px;
      	height: 400px;*/
      position: absolute;
      top: 323px;
      left: 132px;
      border: 1px solid #dddddd; }
    .xiangqing .left .middle img {
      width: 400px;
      height: 400px; }
    .xiangqing .left .len {
      width: 100px;
      height: 100px;
      background: #dddddd;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      display: none; }
    .xiangqing .left .big {
      width: 400px;
      height: 400px;
      position: absolute;
      top: 323px;
      left: 533px;
      border: 1px solid #dddddd;
      overflow: hidden;
      display: none; }
    .xiangqing .left .big img {
      width: 800px;
      height: 800px;
      position: absolute;
      top: 0;
      left: 0; }
  .xiangqing .right {
    height: 400px;
    width: 570px;
    float: left;
    margin-left: 25px;
    padding-left: 5px; }
    .xiangqing .right h5 {
      font-size: 20px; }
    .xiangqing .right .center {
      height: 120px;
      background: #faf8f8;
      margin-top: 50px;
      border: 1px solid #dddddd; }
      .xiangqing .right .center .aa {
        height: 60px;
        line-height: 60px; }
        .xiangqing .right .center .aa span {
          float: left;
          margin: 0 10px; }
        .xiangqing .right .center .aa h3 {
          float: left;
          font-size: 36px;
          color: #cd3939; }
    .xiangqing .right .bb {
      height: 60px;
      line-height: 60px; }
      .xiangqing .right .bb span {
        margin: 0 10px; }
      .xiangqing .right .bb button {
        height: 30px;
        width: 30px;
        cursor: pointer; }
      .xiangqing .right .bb input {
        height: 30px;
        width: 50px; }
    .xiangqing .right .bt {
      margin: 30px 10px;
      height: 43px;
      width: 190px;
      border: none;
      background: #cd3939;
      cursor: pointer; }
    .xiangqing .right .tv {
      display: block;
      margin: 0px 10px; }
