/*
Error: Invalid GBK character "\xE6"
        on line 9 of C:\Users\qianfeng\Desktop\hl-h51710\src\sass\index.scss

4: }
5: .main{
6: 	padding-top:20px;
7: 	background:#f2f2f2;
8: 
9: 	/*每日推荐*\/
10: 	.best{
11: 		
12: 		height:400px;
13: 		width:1000px;
14: 		margin:0 auto;

Backtrace:
C:\Users\qianfeng\Desktop\hl-h51710\src\sass\index.scss:9
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/Koala/bin/sass:18:in `load'
D:/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE6\"\A         on line 9 of C:\Users\qianfeng\Desktop\hl-h51710\src\sass\index.scss\A \A 4: }\A 5: .main{\A 6: 	padding-top:20px;\A 7: 	background:#f2f2f2;\A 8: \A 9: 	/*每日推荐*/\A 10: 	.best{\A 11: 		\A 12: 		height:400px;\A 13: 		width:1000px;\A 14: 		margin:0 auto;"; }
